# Systemd unit file for tomcat
[Unit]
Description=Apache Tomcat Web Application Container
Wants=delay.service
After=syslog.target network.target delay.service

[Service]
Type=forking

Environment=JAVA_HOME=/usr/oraclejdk/jdk1.8.0_121
Environment=CATALINA_PID=/var/tomcat/cts/temp/tomcat.pid
Environment=CATALINA_HOME=/usr/local/tomcat
Environment=CATALINA_BASE=/var/tomcat/cts
Environment='CATALINA_OPTS=-Xms512M -Xmx512M -server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart=\
    curl -f --silent -o - "http://localhost:8080/em/healthcheck" > /dev/null \
    && /usr/local/tomcat/bin/startup.sh
ExecStop=/bin/kill -15 $MAINPID

User=cts
Group=parasoft

WorkingDirectory=/var/tomcat/cts

[Install]
WantedBy=multi-user.target
