# Systemd unit file for Data Repository
[Unit]
Description=Parasoft Data Repository Server
Wants=delay.service
After=syslog.target network.target delay.service

[Service]
Type=forking
TimeoutSec=300
ExecStart=/opt/DataRepositoryServer-linux-x86_64/server.sh start
ExecStop=/bin/kill -15 $MAINPID

User=datarepo
Group=parasoft

WorkingDirectory=/opt/DataRepositoryServer-linux-x86_64

[Install]
WantedBy=multi-user.target
