# Systemd unit file for tomcat
[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target

[Service]
Type=forking

Environment=JAVA_HOME=/usr/oraclejdk/jdk1.8.0_181
Environment=CATALINA_PID=/var/tomcat/ctp/temp/tomcat.pid
Environment=CATALINA_HOME=/usr/local/tomcat
Environment=CATALINA_BASE=/var/tomcat/ctp
Environment='CATALINA_OPTS=-Xms768M -Xmx768M -server -XX:+UseConcMarkSweepGC -XX:+UseParNewGC'
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart=/usr/local/tomcat/bin/startup.sh
ExecStop=/bin/kill -15 $MAINPID

User=ctp
Group=parasoft

WorkingDirectory=/var/tomcat/ctp

[Install]
WantedBy=multi-user.target
